body {
    font-family: -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Helvetica", "Segoe UI", "Ubuntu", sans-serif;
}

#home {
    width: 500px;
    height: 400px;
    background-image: url('../assets/snek.jpg');
    background-size: auto 500px;
    background-repeat: no-repeat;
    background-color: lightblue;
}

button {
    background-color: green;
    color: white;
    border: none;
    height: 75px;
    font-family: inherit;
    font-size: 12pt;
    width: inherit;
    margin: 0 auto;
    display: block;
}

button:hover {
    background-color: orange;
}

button:disabled {
    background-color: grey;
}

.game {
    width: 500px;
    height: 400px;
    margin: auto;
    display: block;
    position: absolute;
    top: -125px;
    bottom: 0;
    left: 0;
    right: 0;
}
