body {
    font-family: -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Helvetica", "Segoe UI", "Ubuntu", sans-serif;
    background-color: #FFEB3B;
}

#home {
    width: 500px;
    height: 400px;
    background-image: url('../assets/snek.jpg');
    background-size: auto 500px;
    background-repeat: no-repeat;
    background-color: lightblue;
}

.title {
    text-align: center;
    font-family: 'SF UI Display', -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Helvetica", "Segoe UI", "Ubuntu", sans-serif;
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 20px;
}

button {
    background-color: #00E676;
    color: white;
    border: none;
    height: 75px;
    font-family: 'SF UI Display', -apple-system, "BlinkMacSystemFont", "Helvetica Neue", "Helvetica", "Segoe UI", "Ubuntu", sans-serif;
    font-size: 3em;
    font-weight: 800;
    width: inherit;
    margin: 0 auto;
    display: block;
}

button:hover {
    background-color: #FF1744;
}

button:disabled {
    background-color: #FF5722;
}

.game {
    width: 500px;
    height: 400px;
    margin: auto;
    display: block;
    position: absolute;
    top: -300px;
    bottom: 0;
    left: 0;
    right: 0;
}
