.home {
    width: 350px;
    height: 350px;
    background-image: url('../assets/snek.jpg');
    background-size: auto 350px;
    background-repeat: no-repeat;
    background-color: lightblue;
    background-position: center center;
    padding: 0;
    margin: 3;
}

canvas {
    border: solid 1px #000;
}
